@font-face {
font-family: museo-sans, sans-serif;
font-style: normal;
font-weight: 100;
}


body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}
header{
    padding-top: 50px;
    padding-bottom: 10px;
}

.grizzhacks-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/grizzloader.gif) center no-repeat #fff;
}

.navbar-inverse{
  background: white !important;
  border-bottom:4px solid #7dc143 !important;
}

.navbar-brand{

  text-transform:uppercase;
  color:black!important;
  letter-spacing:2px;
  margin-top:2px;
}

.nav{
  margin-bottom:0px;
}

.navbar-inverse .navbar-toggle{
  border:none;
}

.navbar-collapse{
  box-shadow:none !important;
  border:none !important;
}

.navbar-inverse .navbar-toggle:hover{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:focus{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:active{
  background:transparent !important;
}

.icon-bar{
  background:#99ccff !important;
}



@media (max-width: 767px) {
.nav{
  padding-bottom:20px;

}
}

@media (max-width: 480px) {
  .nav{
    padding-bottom:20px;
  }
}





#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #7dc143;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #7dc143;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #7dc143;
}

::-moz-selection {
  color: #fff;
  background: #7dc143;
}

::selection {
  color: #fff;
  background: #7dc143;
}


.content-wrapper{
    background-color: white;
    top: 7%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;
}



@keyframes blur {
  0% {
    filter: blur(1px);
  }
  50% {
    filter: blur(20px);
  }
  100% {
    filter: blur(1px);
  }
}

.logo {
 position: absolute;
    top: 150px; bottom: 0; left: 500px; right:0;
    margin: auto;
    margin: 0 auto;
}
.logo {
  position: absolute;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
  transform: scale(1);
  animation: scale 750ms ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(100);
    opacity: 0;
  }
  50% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.subscribe {

  position: relative;
  display: inline-block;
    padding-top: 5%;
  float: center;
  animation: slide 1000ms ease;
}
.subscribe a {
  position: relative;
  margin: 0;
  padding: 10px 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  color: lightblue;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 600ms ease;
}
header nav .subscribe a:hover {
  box-shadow: 0 0 0 transparent;
}
@keyframes slide {
  0% {
    transform: translateY(-600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
header p{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin: 0;
  padding: 150px  5px 60px;
  color: black;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 2px;
  transform: translate(-50%, -40%);
  animation: fadeIn 150ms ease;
}
header p:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  animation: height 10ms ease-in-out;
}
@keyframes height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%, 0%);
  }
}
@media screen and (min-width: 360px) {
    .subtext {
        color: black;
        margin-top: 20px;
	   margin-bottom: 25px;
	   font-size: 15px;
        font-weight: 900;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
  header span {
    width: 70%;
  }
.subtext {
    color: black;
      position: absolute; top: 100px; bottom: 20; right: 0; width: 500px;

     font-size: 25px;
font-weight: 900;
    text-align: right;
}
    .date {
  position: relative;
  bottom: 20px;
  margin: 0;
  padding: 5px 15px;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  font-size: 12px;
  font-weight: 400;
}
.date i {
  margin-right: 5px;
  font-size: 14px;
}

}
@media screen and (min-width: 1024px) {
  header span {
    width: 60%;
  }
  .subtext {
     position: absolute; top: 200px; bottom: 10px; right: 0; width: 300px;
     padding-left: 20px;
     padding-right: 20px;
     font-size: 25px;
     font-weight: 900;
     text-align: right;
   }
    .date {
  position: relative;
  bottom: 20px;
  margin: 0;
  padding: 5px 15px;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  font-size: 12px;
  font-weight: 400;
}
.date i {
  margin-right: 5px;
  font-size: 14px;
}
}
header span {
  position: absolute;
  display: block;
    margin-top: 20%;
    margin-right: 28%;
    margin-bottom: 35%;
    margin-left: 27.75%;
  font-size: 15px;
font-weight: 600;
    text-align: center;
}


.subtext2 {
  position: absolute;
  display: block;
    margin: 300px 400px 20px ;
  font-size: 10px;
font-weight: 200;
    text-align: center;
}
header p {
  position: absolute;
  display: block;
font-weight: 600;
}


/* HERE ENDS THE MAGIC */
header .container {
    padding-top: 0px;
    padding-bottom: -60px
}

#header,
#counter,
.bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
  position: relative;



}



.cover {
  height: 1100px;
  background-size: cover;
    background: url(../img/coverpic2.jpg) center no-repeat #fff;
  background-repeat: no-repeat;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cover {
    height: 600px;
  }
}
.cover .display-t,
.cover .display-tc {
  z-index: 9;
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cover .display-t,
  .cover .display-tc {
    height: 600px;
  }
}
.cover.cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .cover.cover-sm {
    height: 400px;
  }
}
.cover.cover-sm .display-t,
.cover.cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cover.cover-sm .display-t,
  .cover.cover-sm .display-tc {
    height: 400px;
  }
}




/* Tabs Start */

.ease {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.tabs {
	background: #fff;
	position: relative;
}

.tabs > input,
.tabs > span {
	width: 20%;
	height: 60px;
	line-height: 60px;
	position: absolute;
	top: 0;
}

.tabs > input {
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	z-index: 99;
}

.tabs > span {
	text-align: center;
	overflow: hidden;
}

.tabs > span i,
.tabs > span {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.tabs > input:hover + span {
	background: rgba(255,255,255,.1);
}

.tabs > input:checked + span {
	background: #fff;
}

.tabs > input:checked + span,
.tabs > input:hover + span {
	color: green;
}

#tab-1, #tab-1 + span {
	left: 0;
}

#tab-2, #tab-2 + span {

	left: 25%;
}

#tab-3, #tab-3 + span {
	left: 50%;
}

#tab-4, #tab-4 + span {
	left: 75%;
}

#tab-5, #tab-5 + span {
	left: 80%;
}

.tab-content {
	padding: 80px 20px 20px;
	width: 100%;
	min-height: 340px;
}

.tab-content section {
	width: 100%;
	display: none;
}

.tab-content section h1 {
	margin-top: 15px;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
}

#tab-1:checked ~ .tab-content #tab-item-1  {
	display: block;
}

#tab-2:checked ~ .tab-content #tab-item-2  {
	display: block;
}

#tab-3:checked ~ .tab-content #tab-item-3  {
	display: block;
}

#tab-4:checked ~ .tab-content #tab-item-4  {
	display: block;
}

#tab-5:checked ~ .tab-content #tab-item-5  {
	display: block;
}




.effect-3 .line{
	background: #3498DB;
  background: green;
	width: 20%;
	height: 4px;
	position: absolute;
	top: 56px;
}

#tab-1:checked ~ .line {
	left: 0;
}

#tab-2:checked ~ .line {
	left: 25%;
}

#tab-3:checked ~ .line {
	left: 50%;
}

#tab-4:checked ~ .line {
	left: 75%;
}

#tab-5:checked ~ .line {
	left: 100%;
}


#counter {
  width: 100%;
}
#counter .display-t,
#counter .display-tc {
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #counter {
    height: inherit;
    padding: 0;
  }
  #counter .display-t,
  #counter .display-tc {
    height: inherit;
  }
}

.about-content {
  margin-bottom: 7em;
}
.about-content .desc {
  background: #fff;
  padding: 20px;
}

.staff {
  text-align: center;
  margin-bottom: 30px;
}
.staff img {
  width: 100px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.staff p {
  margin-bottom: 30px;
}
.staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #50CB86;
  padding-left: 10px;
  padding-right: 10px;
}
.social-icons li a i {
  font-size: 20px;
}


form label {
  font-weight: normal !important;
}

#header .display-tc,
#counter .display-tc,
.cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#header .display-tc h1, #header .display-tc h2,
#counter .display-tc h1,
#counter .display-tc h2,
.cover .display-tc h1,
.cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#header .display-tc h1,
#counter .display-tc h1,
.cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #header .display-tc h1,
  #counter .display-tc h1,
  .cover .display-tc h1 {
    font-size: 40px;
  }
}
#header .display-tc h2,
#counter .display-tc h2,
.cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#header .display-tc .btn,
#counter .display-tc .btn,
.cover .display-tc .btn {
  padding: 15px 30px;
  background: #7dc143 !important;
  color: #fff;
  border: none !important;
  font-size: 18px;
  text-transform: uppercase;
}
#header .display-tc .btn:hover,
#counter .display-tc .btn:hover,
.cover .display-tc .btn:hover {
  background: black !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#counter {
  text-align: center;
}
#counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: 7dc143;
  font-weight: 100;
  display: block;
}
#counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
}
@media screen and (max-width: 992px) {
  #counter .counter-label {
    font-size: 13px;
  }
}
#counter .feature-center {
  margin-bottom: 4em;
}
@media screen and (max-width: 992px) {
  #counter .feature-center {
    margin-bottom: 3em;
    width: 25%;
    float: left;
  }
}
@media screen and (max-width: 768px) {
  #counter .feature-center {
    width: 100%;
  }
}
#counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}
#counter .icon i {
  height: 70px;
}
#counter .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}

#portfolio,
#testimonial,
#services-section,
#about-section,
#started,
#footer,
.section {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #portfolio,
  #testimonial,
  #services-section,
  #about-section,
  #started,
  #footer,
  .section {
    padding: 3em 0;
  }
}

@media screen and (max-width: 768px) {
  #portfolio,
  #testimonial,
  #footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.bg-section {
  position: relative;
}


#features,
#features-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
}

#section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
}

.col-nineth {
  width: 75%;
  float: left;
  padding: 60px 0;
}
@media screen and (max-width: 992px) {
  .col-nineth {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .col-nineth {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.col-nineth .col-third {
  width: 33.333%;
  float: left;
}
@media screen and (max-width: 768px) {
  .col-nineth .col-third {
    width: 100%;
    margin-bottom: 30px;
  }
}
.col-nineth .col-third .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  .col-nineth .col-third .icon {
    margin: 0 auto 30px auto;
  }
}
.col-nineth .col-third .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #50CB86;
}
.col-nineth .col-third .desc h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.col-forth {
  width: 25%;
  float: left;
  padding: 40px 0;
  position: relative;
}
@media screen and (max-width: 992px) {
  .col-forth {
    width: 100%;
  }
}

.feature-center {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #50CB86;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #5d5d5d;
}

#features-2 .heading h2 {
  color: blac;
  font-weight: 300;
}
#features-2 .heading p {
  color: rgba(255, 255, 255, 0.5);
}

.col-feature-9, .col-feature-3 {
  float: left;
}

.col-feature-9 {
  width: 75%;
  padding-right: 0px;
}
@media screen and (max-width: 992px) {
  .col-feature-9 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .col-feature-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.col-feature-3 {
  width: 25%;
  background: white;
  background-size: cover;
  background-position: center center;
  position: relative;
}
@media screen and (max-width: 992px) {
  .col-feature-3 {
    width: 100%;
  }
}

.feature-image {
  width: 128%;
}
@media screen and (max-width: 768px) {
  .feature-image {
    width: 100%;
    margin-bottom: 30px;
  }
}
.feature-image img {
  width: 100%;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.feature-left:last-child {
  margin-bottom: 0;
}
.feature-left .icon i {
  float: left;
  font-size: 24px;
  color: #fff;
}
.feature-left .feature-copy {
  float: right;
  width: 89%;
}
@media screen and (max-width: 992px) {
  .feature-left .feature-copy {
    width: 89%;
    float: right;
  }
}
.feature-left .feature-copy h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 2px;
  line-height: 28px;
}
.feature-left .feature-copy p {
  color: rgba(255, 255, 255, 0.7);
}




.work-grid {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 350px;
  float: left;
  display: table;
  margin-bottom: 40px;
}
.work-grid .desc {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .work-grid .desc {
    opacity: 1;
  }
}
.work-grid .desc h3 {
  margin-bottom: 10px;
}
.work-grid .desc h3 a {
  color: #fff;
}
.work-grid .desc h3 a:hover, .work-grid .desc h3 a:focus {
  text-decoration: none;
}
.work-grid .desc .cat {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
  margin-bottom: 20px;
  display: block;
}
.work-grid .desc p {
  padding: 0;
}
.work-grid .desc p a {
  padding: 0;
  color: #fff;
}
.work-grid .desc p a:hover, .work-grid .desc p a:focus {
  text-decoration: none;
}
.work-grid .desc .download, .work-grid .desc .love {
  line-height: 0;
  font-size: 16px;
}
.work-grid .desc .download a, .work-grid .desc .love a {
  padding: 14px 15px;
  line-height: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-ms-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-o-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
}
.work-grid .desc .download a {
  background: #50CB86;
}
.work-grid .desc .love a {
  background: #E04462;
}
.work-grid:hover .desc {
  opacity: 1;
}

//.heading {
 // margin-bottom: 5em;
//}
.heading.heading-sm {
  margin-bottom: 2em;
}
.heading h2 {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
}
.heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}

#testimonial {
  background: #efefef;
  float: left;
  width: 100%;
  color: #52565b;
}


#footer {
  background: #efefef;
}
#footer .footer-links {
  padding: 0;
  margin: 0;
}
#footer .footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#footer .footer-links li a {
  color: #000;
  text-decoration: none;
}
#footer .footer-links li a:hover {
  text-decoration: underline;
}
#footer .widget {
  text-align: right;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #footer .widget {
    text-align: left;
  }
}
#footer .widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#footer .copyright .block {
  display: block;
}

#offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#offcanvas ul {
  padding: 0;
  margin: 0;
}
#offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}




.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}



.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/grizzloader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

.center-logo {

margin-top: 50px;

}

.faqanswer {
	display: none;
	width: 590px;
	background: #e5e5e5;
	padding: 12px 20px 0 30px;
}

.faqanswer p {
	font-size: 13px;
	line-height: 17px;
}


a.active {
	font-weight: bold;
}

.togglefaq {
	text-decoration: none;
	color: #333;
	font-size: 13px;
	padding: 10px 30px;
	line-height: 20px;
	display: block;
	border: 1px solid #d0d0d0;
	width: 590px;
	margin-bottom: -1px;
}
.icon-plus {
	color: #5ec4cd;
	margin-right: 20px;
	font-size: 20px;
	float:left;
}

.icon-minus {
	color: #5ec4cd;
	margin-right: 20px;
	font-size: 20px;
	float:left;
}

.scroll {
  position: absolute;
  right: 50px;
  top: -20px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.scroll i {
  position: relative;
  top: 50%;
  left: 50%;
  color: #e74c3c;
  transform: translate(-50%, -100%);
  animation: down 2s ease infinite;
  z-index: 9;
}
.comments {
  padding-top: 0;
}
.comments .toggle {
  position: relative;
  display: block;
  width: 100%;
  margin: 20px 0 20px;
  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle .indicator:before, .comments .toggle .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle {
  display: none;
}
.comments #toggle:checked + .toggle .indicator {
  transform: rotate(45deg);
}
.comments #toggle:checked ~ .wrapper {
  height: auto;
}
.comments .wrapper {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
}
.comments .wrapper .comment {
  position: relative;
  display: flex;
}
.comments .wrapper .comment .user {
  position: relative;
  width: 80px;
  height: inherit;
  margin: 0 20px 20px 0;
  padding: 0;
  float: left;
  font-size: 12px;
  text-align: center;
}
.comments .wrapper .comment .user .pic {
  position: relative;
  width: 100%;
  height: 65px;
  margin: 6px auto;

  background-position: center center;
  background-size: cover;
  background-color: darkgray;
  overflow: hidden;
}
.comments .wrapper .comment .user .date {
  font-size: 12px;
}
.comments .wrapper .comment .text .author {
  font-weight: bold;
  text-transform: uppercase;
  color: #e74c3c;
}
.comments .wrapper .comment .text p {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
}


.comments {
  padding-top: 0;
}
.comments .toggle2 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle2 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle2 .indicator:before, .comments .toggle2 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle2 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle2 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle2 {
  display: none;
}
.comments #toggle2:checked + .toggle2 .indicator {
  transform: rotate(45deg);
}
.comments #toggle2:checked ~ .wrapper {
  height: auto;
}

.comments {
  padding-top: 0;
}
.comments .toggle3 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle3 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle3 .indicator:before, .comments .toggle3 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle3 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle3 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle3 {
  display: none;
}
.comments #toggle3:checked + .toggle3 .indicator {
  transform: rotate(45deg);
}
.comments #toggle3:checked ~ .wrapper {
  height: auto;
}

.comments {
  padding-top: 0;
}
.comments .toggle4 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle4 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle4 .indicator:before, .comments .toggle4 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle4 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle4 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle4 {
  display: none;
}
.comments #toggle4:checked + .toggle4 .indicator {
  transform: rotate(45deg);
}
.comments #toggle4:checked ~ .wrapper {
  height: auto;
}


.comments {
  padding-top: 0;
}
.comments .toggle5 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle5 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle5 .indicator:before, .comments .toggle5 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle5 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle5 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle5 {
  display: none;
}
.comments #toggle5:checked + .toggle5 .indicator {
  transform: rotate(45deg);
}
.comments #toggle5:checked ~ .wrapper {
  height: auto;
}

.comments {
  padding-top: 0;
}
.comments .toggle6 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle6 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle6 .indicator:before, .comments .toggle6 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle6 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle6 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle6 {
  display: none;
}
.comments #toggle6:checked + .toggle6 .indicator {
  transform: rotate(45deg);
}
.comments #toggle6:checked ~ .wrapper {
  height: auto;
}

.comments {
  padding-top: 0;
}
.comments .toggle7 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle7 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle7 .indicator:before, .comments .toggle7 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle7 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle7 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle7 {
  display: none;
}
.comments #toggle7:checked + .toggle7 .indicator {
  transform: rotate(45deg);
}
.comments #toggle7:checked ~ .wrapper {
  height: auto;
}


.comments {
  padding-top: 0;
}
.comments .toggle8 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle8 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle8 .indicator:before, .comments .toggle8 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle8 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle8 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle8 {
  display: none;
}
.comments #toggle8:checked + .toggle8 .indicator {
  transform: rotate(45deg);
}
.comments #toggle8:checked ~ .wrapper {
  height: auto;
}

.comments {
  padding-top: 0;
}
.comments .toggle9 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle9 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle9 .indicator:before, .comments .toggle9 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle9 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle9 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle9 {
  display: none;
}
.comments #toggle9:checked + .toggle9 .indicator {
  transform: rotate(45deg);
}
.comments #toggle9:checked ~ .wrapper {
  height: auto;
}


.comments {
  padding-top: 0;
}
.comments .toggle10 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle10 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle10 .indicator:before, .comments .toggle10 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle10 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle10 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle10 {
  display: none;
}
.comments #toggle10:checked + .toggle10 .indicator {
  transform: rotate(45deg);
}
.comments #toggle10:checked ~ .wrapper {
  height: auto;
}

.comments {
  padding-top: 0;
}
.comments .toggle11 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle11 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle11 .indicator:before, .comments .toggle11 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle11 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle11 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle11 {
  display: none;
}
.comments #toggle11:checked + .toggle11 .indicator {
  transform: rotate(45deg);
}
.comments #toggle11:checked ~ .wrapper {
  height: auto;
}

.comments {
  padding-top: 0;
}
.comments .toggle12 {
  position: relative;
  display: block;
  width: 100%;
margin: 20px 0 20px;  padding: 10px;
  background-color: #999999;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle12 .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle12 .indicator:before, .comments .toggle12 .indicator:after {
  position: absolute;
  content: '';
}
.comments .toggle12 .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle12 .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle12 {
  display: none;
}
.comments #toggle12:checked + .toggle12 .indicator {
  transform: rotate(45deg);
}
.comments #toggle12:checked ~ .wrapper {
  height: auto;
}

.label{
  margin-left: 10px;
}





svg{
  width: 70%;

    height: 90%;


}
line{
  animation: dash 10s linear forwards;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
}
@keyframes dash {
  to {
    stroke-dashoffset: 10;
  }
}

@keyframes colorIn {
  from {opacity:0;}
  to {opacity: 1;}
}
@media only screen and (max-width: 600px) {
    svg {
        width: 100%;
        margin-bottom: 0px;
    }
}
button{
  background: black;
  color:#fff;
  border:none;
  position:relative;
  height:50px;
  font-size:1.2em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:lightblue;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:1px;
  width:0;
  background: green;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
